*{
    margin: 0;
    padding: 0;
    font-size: 12px;
}
body{
    background-color: #f5f5f5;
}
.top{
    width: 100%;
    height: 27px;
    background: url(../images/top_bg.jpg) repeat-x;
}
.top_content{
    width: 1000px;
    margin: 0 auto;
}
.top_content ul{
    float: right;
}
.top_content ul li{
    float: right;
    list-style-image: url(../images/arrow.jpg);
    width: 70px;
    line-height: 27px;
}
.top_content ul li a:link,
.top_content ul li a:visited{
    color: #8e8e8e;
    text-decoration: none;
}
.top_content ul li a:hover,
.top_content ul li a:active{
    color: #c00;
    text-decoration: none;
}