body {
    position: relative;
}

.m-league-wrap {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    font-size: 3.2rem;
    background-color: #fff;

    transform: translateX(100%);
    -webkit-transform: translateX(100%); 

    /* transform: translateY(100%);
    -webkit-transform: translateY(100%); */

    transition: transform 400ms cubic-bezier(0.19, 1, 0.22, 1);
    -webkit-transition: transform 400ms cubic-bezier(0.19, 1, 0.22, 1);
}
.m-league-wrap.active {
    transform: translateX(0);
    -webkit-transform: translateX(0); 

    /* transform: translateY(0);
    -webkit-transform: translateY(0); */
}
.m-league .m-league-back {
    width: 100%;
    height: 6.4rem;
    line-height: 6.4rem;
    padding: 1rem;
    color: #000;
}
.m-league .m-league-back .header-btn-back {
    display: block;
    width: 4rem;
    height: 4rem;
    background: url("../img/close.png") no-repeat;
    background-size: cover;
    background-position: center center;
}
.m-league-focus {
    border-bottom: 0.2rem solid #797979;
    margin-bottom: 1rem;
}
.m-league-focus .focus-title {
    width: 100%;
    padding: 1rem;
    position: relative;
}
.m-league-focus .focus-title h4 {
    float: left;
}
.m-league-focus .focus-title p {
    position: absolute;
    left: 15rem;
    bottom: 0;
    font-size: 2.4rem;
}
.m-league-focus .focus-title .focus-btn-edit {
    float: right;
    padding: .5rem 2rem;
    font-size: 2.6rem;
    border-radius: 5rem;
    border: 1px solid #118c8b;
    background-color: #fff;
    color: #118c8b;
}
.m-league-focus .focus-list-wrap {
    float: left; 
    width: 100%;
    padding: 1rem;
}
.m-league-focus .focus-list-wrap.sign-in .focus-list li {
    border-color: #fff;
}
.m-league-focus .focus-list-wrap.sign-in .focus-list li .list-item {
    width: 100%;
}
.m-league-focus .focus-list-wrap.sign-in .list-item {
    width: calc(18.4% - 2px);
    height: 5.4rem;
    line-height: 5.4rem;
    border-radius: 2rem;
    color: #000;
    font-size: 2.8rem;
    text-align: center;
    border: 1px solid #000;
}
.m-league-focus .focus-list-wrap .focus-list li {
    float: left;
    width: 18.4%;
    height: 5.4rem;
    line-height: 5.4rem;
    margin: 1rem 1%;
    border-radius: 2rem;
    color: #000;
    font-size: 2.8rem;
    text-align: center;
    border: 1px solid #000;
}
.focus-list-wrap .focus-list li:nth-child(5n+1) {
    margin-left: 0;
}
.focus-list-wrap .focus-list li:nth-child(5n+5) {
    margin-right: 0;
}

/* 赛事数据编辑样式 */
.focus-list-wrap .list-item.edit {
    position: relative;
}
.focus-list-wrap .list-item.edit:after {
    content: "";
    position: absolute;
    top: -1.2rem;
    right: 0;
    display: block;
    width: 2.4rem;
    height: 2.4rem;
    background: url("../img/close.png") no-repeat;
    background-size: cover;
    background-position: center center;
    border-radius: 50%;
    background-color: #fff;
}
.focus-list-wrap .list-item.edit.root:after {
    content: "";
    background: none;
}
.m-league-focus .focus-edit-tip {
    width: 100%;
    padding: 1rem;
    text-align: right;
    font-size: 2.4rem;
    display: none;
}

.m-league-total .total-title {
    width: 100%;
    padding: 2rem 1rem;
    position: relative;
    border-top: 1px solid #797979;
}
.m-league-total .total-title p {
    position: absolute;
    left: 15rem;
    bottom: 1rem;
    font-size: 2.4rem;
}
.m-league-total .total-list-wrap .total-list h5 {
    width: 100%;
    padding: 1rem;
    border-top: 1px solid #797979;
    border-bottom: 1px solid #797979;
    background-color: #f2f2f2;
}
.m-league-total .total-list-wrap .total-list ol {
    font-size: 0;
    padding: 1rem;
}
.m-league-total .total-list-wrap .total-list .t-l-item {
    display: inline-block;
    width: 18.4%;
    height: 5.4rem;
    line-height: 5.4rem;
    margin: 1rem 1%;
    border-radius: 2rem;
    border: 1px solid #000;
    font-size: 2.8rem;
    text-align: center;
}
.m-league-total .total-list-wrap .total-list .t-l-item:nth-child(5n+1) {
    margin-left: 0;   
}
.m-league-total .total-list-wrap .total-list .t-l-item:nth-child(5n+5) {
    margin-right: 0;
}
.total-list-wrap .total-list .t-l-item a {
    font-size: 2.8rem;
}


.m-upper-wrap {
    position: fixed;
    top: 37%;
    right: 1rem;
    font-size: 2.6rem;
    display: none;
    /* opacity: 0; */
    /* transition: opacity 100ms linear 100ms; */
}
.m-upper-wrap.active {
    display: block;
    /* opacity: 1; */
}
.m-upper .i-item a {
    display: block;
    width: 5rem;
    height: 5rem;
    line-height: 5rem;
    border-radius: 50%;
    text-align: center;
}
.m-upper .i-item.active a {
    color: #fff;
    background-color: #118c8b;
}
