* {
    margin: 0;
    padding: 0;
    font-size: 14px;
}
.container {
    width: 100vw;
    height: 100vh;
    background: url("../images/bg.png") no-repeat;
    background-size: 100vw 100vh;
}
/*top*/
.top {
    position: relative;
    height: 60px;
}
.top-logo {
    position: absolute;
    top: 15px;
    right: 8px;
    display: block;
    width: 60px;
    height: 55px;
    background: url("../images/logo.png") no-repeat;
    background-size: 60px 55px;
}
/*center*/
.center {
    position: relative;
    top: 8%;
}
/*center 跑马灯*/
.horse-race-lamp {
    margin: 3vh auto 0;
    width: 280px;
    height: 280px;
    border-radius: 50%;
    background-color: #8c2a0e;
    border: 3px solid #bb441a;
    box-shadow: 0 0 67px #d5491b;
    position: relative;
}
.horse-race-lamp:before {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    content: "";
    display: block;
    border-radius: 50%;
    width: 230px;
    height: 230px;
    background-image: linear-gradient(to top , #fafd38 0% ,#fa6122 33.3% , #fafd38 66.6% , #fa6122 100%);
}
.horse-race-lamp > span {
    display: block;
    width: 6px;
    height: 280px;
    position: absolute;
    left: 50%;
    transform: translateY(-50%);
    transform-origin: center;
}
.horse-race-lamp > span:before {
    content: "";
    display: block;
    position: absolute;
    top: 7px;
    width: 6px;
    height: 6px;
    background-color: #f7fffc;
    border-radius: 50%;
    /*box-shadow: 0 0 10px #fff;*/
}
.horse-race-lamp > .light:before {
    animation: bling 2.6s infinite;
}
@keyframes bling {
    0% {
        transform: scale(1);
    }
    5% {
        transform: scale(2.5);
    }
    10% {
        transform: scale(1);
    }
    100% {
        transform: scale(1);
    }
}
.horse-race-lamp .light:nth-child(1):before {
    animation-delay: 0s;
}
.horse-race-lamp .light:nth-child(2):before {
    animation-delay: .1s;
}
.horse-race-lamp .light:nth-child(3):before {
    animation-delay: .2s;
}
.horse-race-lamp .light:nth-child(4):before {
    animation-delay: .3s;
}
.horse-race-lamp .light:nth-child(5):before {
    animation-delay: .4s;
}
.horse-race-lamp .light:nth-child(6):before {
    animation-delay: .5s;
}
.horse-race-lamp .light:nth-child(7):before {
    animation-delay: .6s;
}
.horse-race-lamp .light:nth-child(8):before {
    animation-delay: .7s;
}
.horse-race-lamp .light:nth-child(9):before {
    animation-delay: .8s;
}
.horse-race-lamp .light:nth-child(10):before {
    animation-delay: .9s;
}
.horse-race-lamp .light:nth-child(11):before {
    animation-delay: 1.0s;
}
.horse-race-lamp .light:nth-child(12):before {
    animation-delay: 1.1s;
}
.horse-race-lamp .light:nth-child(13):before {
    animation-delay: 1.2s;
}
.horse-race-lamp .light:nth-child(14):before {
    animation-delay: 1.3s;
}
.horse-race-lamp .light:nth-child(15):before {
    animation-delay: 1.4s;
}
.horse-race-lamp .light:nth-child(16):before {
    animation-delay: 1.5s;
}
.horse-race-lamp .light:nth-child(17):before {
    animation-delay: 1.6s;
}
.horse-race-lamp .light:nth-child(18):before {
    animation-delay: 1.7s;
}
.horse-race-lamp .light:nth-child(19):before {
    animation-delay: 1.8s;
}
.horse-race-lamp .light:nth-child(20):before {
    animation-delay: 1.9s;
}
.horse-race-lamp .light:nth-child(21):before {
    animation-delay: 2.0s;
}
.horse-race-lamp .light:nth-child(22):before {
    animation-delay: 2.1s;
}
.horse-race-lamp .light:nth-child(23):before {
    animation-delay: 2.2s;
}
.horse-race-lamp .light:nth-child(24):before {
    animation-delay: 2.3s;
}
.horse-race-lamp .light:nth-child(25):before {
    animation-delay: 2.4s;
}
.horse-race-lamp .light:nth-child(26):before {
    animation-delay: 2.5s;
}

.horse-race-lamp > span:nth-child(1) {
    transform: rotate( calc(360deg / 26 * 1) );
}
.horse-race-lamp > span:nth-child(2) {
    transform: rotate( calc(360deg / 26 * 2) );
}
.horse-race-lamp > span:nth-child(3) {
    transform: rotate( calc(360deg / 26 * 3) );
}
.horse-race-lamp > span:nth-child(4) {
    transform: rotate( calc(360deg / 26 * 4) );
}
.horse-race-lamp > span:nth-child(5) {
    transform: rotate( calc(360deg / 26 * 5) );
}
.horse-race-lamp > span:nth-child(6) {
    transform: rotate( calc(360deg / 26 * 6) );
}
.horse-race-lamp > span:nth-child(7) {
    transform: rotate( calc(360deg / 26 * 7) );
}
.horse-race-lamp > span:nth-child(8) {
    transform: rotate( calc(360deg / 26 * 8) );
}
.horse-race-lamp > span:nth-child(9) {
    transform: rotate( calc(360deg / 26 * 9) );
}
.horse-race-lamp > span:nth-child(10) {
    transform: rotate( calc(360deg / 26 * 10) );
}
.horse-race-lamp > span:nth-child(11) {
    transform: rotate( calc(360deg / 26 * 11) );
}
.horse-race-lamp > span:nth-child(12) {
    transform: rotate( calc(360deg / 26 * 12) );
}
.horse-race-lamp > span:nth-child(13) {
    transform: rotate( calc(360deg / 26 * 13) );
}
.horse-race-lamp > span:nth-child(14) {
    transform: rotate( calc(360deg / 26 * 14) );
}
.horse-race-lamp > span:nth-child(15) {
    transform: rotate( calc(360deg / 26 * 15) );
}
.horse-race-lamp > span:nth-child(16) {
    transform: rotate( calc(360deg / 26 * 16) );
}
.horse-race-lamp > span:nth-child(17) {
    transform: rotate( calc(360deg / 26 * 17) );
}
.horse-race-lamp > span:nth-child(18) {
    transform: rotate( calc(360deg / 26 * 18) );
}
.horse-race-lamp > span:nth-child(19) {
    transform: rotate( calc(360deg / 26 * 19) );
}
.horse-race-lamp > span:nth-child(20) {
    transform: rotate( calc(360deg / 26 * 20) );
}
.horse-race-lamp > span:nth-child(21) {
    transform: rotate( calc(360deg / 26 * 21) );
}
.horse-race-lamp > span:nth-child(22) {
    transform: rotate( calc(360deg / 26 * 22) );
}
.horse-race-lamp > span:nth-child(23) {
    transform: rotate( calc(360deg / 26 * 23) );
}
.horse-race-lamp > span:nth-child(24) {
    transform: rotate( calc(360deg / 26 * 24) );
}
.horse-race-lamp > span:nth-child(25) {
    transform: rotate( calc(360deg / 26 * 25) );
}
.horse-race-lamp > span:nth-child(26) {
    transform: rotate( calc(360deg / 26 * 26) );
}
/*center 转盘*/
.wheel {
    width: 210px;
    height: 210px;
    border-radius: 50%;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
}
.wheel:before {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    content: "";
    display: block;
    border-radius: 50%;
    width: 86px;
    height: 86px;
    background-image: linear-gradient(to top , #0d1211 0% ,#939495 33.3% , #0d1211 66.6% , #939495 100%);
    z-index: 99;
}
.wheel .outer-round {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    clip: rect(0px, 105px, 210px, 0px);
}
.wheel .inner-round {
    position: absolute;
    width: 100%;
    height: 100%;
    /*background-color: #c64729;*/
    border-radius: 50%;
    transform: rotate(-36deg);
    clip: rect(0px, 210px, 210px, 105px);
}
.wheel .thanks {
    display: inline-block;
    margin: 5px 0 0 15px;
    color: #e48725;
    font-size: 12px;
    width: 10px;
    line-height: 12px;
    position: absolute;
    right: 76px;
    top: 3px;
    transform: rotateZ(20deg);
}
.wheel .reward {
    display: inline-block;
    color: #fff;
    font-size: 12px;
    margin: 3px 0 0 0;
    position: absolute;
    right: 51px;
    top: 5px;
    transform: rotateZ(17deg);
}
.wheel .sector1 {
    transform: rotate( calc(36deg * 0) );
}
.wheel .sector2 {
    transform: rotate( calc(36deg * 1) );
}
.wheel .sector3 {
    transform: rotate( calc(36deg * 2) );
}
.wheel .sector4 {
    transform: rotate( calc(36deg * 3) );
}
.wheel .sector5 {
    transform: rotate( calc(36deg * 4) );
}
.wheel .sector6 {
    transform: rotate( calc(36deg * 5) );
}
.wheel .sector7 {
    transform: rotate( calc(36deg * 6) );
}
.wheel .sector8 {
    transform: rotate( calc(36deg * 7) );
}
.wheel .sector9 {
    transform: rotate( calc(36deg * 8) );
}
.wheel .sector10 {
    transform: rotate( calc(36deg * 9) );
}
.wheel .sector10 .inner-round {
    background-color: #faa729 !important;
}
.wheel .outer-round:nth-child(3n+1) .inner-round {
    background-color: #c64729;
}
.wheel .outer-round:nth-child(3n+2) .inner-round {
    background-color: #faa729;
}
.wheel .outer-round:nth-child(3n+3) .inner-round {
    background-color: #0aa3d9;
}
.wheel .outer-round em {
    display: block;
    position: absolute;
}
.wheel .outer-round em.packets-20 {
    width: 30px;
    height: 30px;
    background: url(../images/packets-20.png) no-repeat;
    background-size: 100%;
    transform: rotateZ(-32deg);
    right: 67px;
    top: 25px;
}
.wheel .outer-round em.shoes {
    width: 40px;
    height: 20px;
    background: url(../images/shoes.png) no-repeat;
    background-size: 100%;
    transform: rotate(-69deg);
    right: 62px;
    top: 29px;
}
.wheel .outer-round em.packets-5 {
    width: 30px;
    height: 30px;
    background: url(../images/packets-5.png) no-repeat;
    background-size: 100%;
    transform: rotateZ(45deg);
    right: 69px;
    top: 25px;
}
.wheel .outer-round em.tickets {
    width: 22px;
    height: 33px;
    background: url(../images/tickets.png) no-repeat;
    background-size: 100%;
    transform: rotate(-2deg);
    right: 74px;
    top: 25px;
}
.wheel .outer-round em.gold {
    width: 29px;
    height: 28px;
    background: url(../images/gold.png) no-repeat;
    background-size: 100%;
    transform: rotate(114deg);
    right: 67px;
    top: 25px;
}
.wheel .outer-round em.shirts {
    width: 34px;
    height: 29px;
    background: url(../images/shirts.png) no-repeat;
    background-size: 100%;
    transform: rotate(78deg);
    right: 64px;
    top: 25px;
}
.wheel .outer-round em.milk {
    width: 35px;
    height: 25px;
    background: url(../images/milk.png) no-repeat;
    background-size: 100%;
    right: 63px;
    top: 25px;
    transform: rotateZ(20deg);
}
/*center 立即抽奖*/
.lotto-btn {
    display: block;
    width: 74px;
    height: 74px;
    background: url(../images/lotto-btn.png) no-repeat;
    background-size: 100%;
    position: absolute;
    top: 106px;
    left: 50%;
    border-radius: 50%;
    transform: translate(-50%);
    text-align: center;
    box-sizing: border-box;
    z-index: 999;
}
.lotto-btn:after {
    content: "";
    display: block;
    width: 20px;
    height: 20px;
    background: url(../images/angle.png) no-repeat;
    background-size: 20px 20px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%) rotate(-5deg);
    right: -17px;
}
/*footer*/
.footer {
    width: 90vw;
    padding: 5px;
    position: fixed;
    bottom: 10px;
    left: 50%;
    border-radius: 5px;
    transform: translate(-50%);
    background-color: #16262b;
}
.footer-title {
    color: #b3833c;
    font-size: 1em;
    text-align: center;
    padding: 5px 0;
    position: relative;
}
.footer-title .speaker {
    position: absolute;
    top: 5px;
    left: 8px;
    display: inline-block;
    width: 15px;
    height: 25px;
    background: url(../images/speaker.png) no-repeat;
    background-size: 100%;
}
/*footer 滚动公告*/
.footer-content {
    height: 90px;
    padding: 5px 0;
    overflow: hidden;
}
.footer-content table {
    width: 100%;
}
.footer-content tr {
    height: 30px;
}
.footer-content td em {
    display: block;
    margin-top: -7px;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: #fff;
}
.footer-content .phone {
    width: 70px;
    color: #b6b8b9;
    font-size: 0.85em;
}
.footer-content .status {
    color: #535759;
    font-size: 0.85em;
}
.footer-content .reward {
    color: #d75b20;
    font-size: 0.85em;
    text-align: left;
}
.footer-content .nickname {
    color: #535759;
    font-size: 0.85em;
    text-align: right;
}
@media (max-width: 320px) {
    .center {
        top: 10px;
    }
    .footer {
        bottom: 0;
    }
    .footer-content {
        height: 75px;
    }
    .footer-title {
        padding: 3px 0;
    }
    .footer-title .speaker {
        left: 5px;
    }
    .footer-content tr {
        height: 25px;
    }
    .footer-content td em {
        width: 20px;
        height: 20px;
        margin-top: -5px
    }
}
