<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>自己重新做一遍</title>
	<link rel="stylesheet" type="text/css" href="assets/base.css">
</head>
<body>
	<div id="todoapp">
		<header id="header">
			<h1>todos</h1>
			<input type="text" id="new-todo" placeholder="需要做点什么" autofocus>
		</header>

		<section id="main">
			<input type="checkbox" id="toggle-all" name="toggle-all">
			<label for="toggle-all">标记全部完成</label>

			<ul id="todo-list"></ul>
		</section>

		<footer id="footer"></footer>
	</div>

	<script type="text/template" id="item-template">
		<div class="view">
			<input type="checkbox" class="toggle" <%= completed ? "checked" : "" %> >
			<label><%= title %></label>
			<button class="destroy"></button>
		</div>
		<input type="text" class="edit" value="<%= title %>">
	</script>

	<script type="text/template" id="stats-template">
		<span id="todo-count">
			还剩<%= remaining %>个任务
		</span>
		<ul id="filters">
			<li><a href="#/" class="selected">全部</a></li>
			<li><a href="#/active">进行中</a></li>
			<li><a href="#/completed">已完成</a></li>
		</ul>
		<% if (completed) { %>
			<button id="clear-completed">清除已完成（<%= completed %>）</button>
		<% } %>
	</script>

	<script type="text/javascript" src="lib/jquery-2.1.1.min.js"></script>
	<script type="text/javascript" src="lib/bootstrap.js"></script>
	<script type="text/javascript" src="lib/underscore-min.js"></script>
	<script type="text/javascript" src="lib/backbone-min.js"></script>
	<script type="text/javascript" src="lib/backbone.localStorage.js"></script>

	<script type="text/javascript" src="js/Models/Todo.js"></script>
	<script type="text/javascript" src="js/Collections/TodoCollection.js"></script>
	<script type="text/javascript" src="js/Views/TodoView.js"></script>
	<script type="text/javascript" src="js/Views/AppView.js"></script>
	<script type="text/javascript" src="js/Routers/Router.js"></script>
	<script type="text/javascript" src="js/app.js"></script>
</body>
</html>