body {
    margin: 0;
    padding: 0;
}

.live-event {
    position: relative;
    width: 100%;
    background: url(../img/live-event-bg.png) no-repeat; 
    background-size: 100%;
}

/*---------------------------------match-info--------------------------------*/
.match-info {
    width: 96.73%;
    margin: 0 auto;
    background: url(../img/match-info-bg.png) no-repeat;
    background-size: 100%;
    font-size: 0;
}
.match-info .match-info-item  {
    display: inline-block;
    font-size: 0;
    vertical-align: bottom;
}
.match-info .match-info-team {
    width: 33.5%; 
    height: 2.6rem; 
    line-height: 2.6rem;
    font-size: 0.75rem;
    color: #fff;
    text-align: center;
}
.match-info .match-info-rate {
    width: 33%;
    height: 2.6rem;
    line-height: 2.6rem;
    font-size: 0;
    text-align: center;
}
.match-info-rate .rate-item {
    display: inline-block;
    color: #f8b551;
    font-size: 2.25rem;
}
.match-info-rate .rate-item.rate-mid {
    width: 20%;
    text-align: center;
}
.match-info-rate .rate-item.rate-home {
    width: 40%;
    text-align: right;
}
.match-info-rate .rate-item.rate-away {
    width: 40%;
    text-align: left;
}
.match-info .match-info-team  img {
    /* width: 1.0312rem; */
    width: 1.5rem; 
    min-height: 0.6875rem;
    display: inline-block;
    vertical-align: middle;
}
.match-info .match-info-team .team-name {
    display: inline-block;
    vertical-align: middle;
}
.match-time {
    width: 25%;
    height: 1.425rem; 
    line-height: 1.425rem;
    font-size: 0;
    margin: 0 auto;
}
.match-time .match-time-left {
    width: 55%;
    display: inline-block;
    text-align: center;
    box-sizing: border-box;
    padding-left: 0.75rem;
    color: #8c8c8c;
    font-size: 0.6875rem;
    background: url(../img/icon-time-live.png) no-repeat;
    background-size: 0.75rem;
    background-position: left center;
}
.match-time .match-time-right {
    width: 45%;
    display: inline-block;
    color: #8c8c8c;
    font-size: 0.6875rem;
    text-align: center;
}

/*---------------------------------foo-court--------------------------------*/
.live-event .foo-court {
    position: absolute;
    top: 19.6%;
    left: 7.07%;
    width: 85.86%;
}
.foo-court .football {
    position: absolute;
    width: .3125rem;
    height: .3125rem;
    border-radius: 50%;
    z-index: 999;
    background-color: #fff;
    display: none;
}
.foo-court .outer {
    position: absolute;
    width: 0.75rem;
    height: 0.3125rem;
    border-radius: 50%;
    z-index: 999;
    background-color: rgba(255, 255, 255, .2);
    display: none;
}
.foo-court .outer .inner {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    width: 50%;
    height: 50%;
    border-radius: 50%;
    background-color: #dbdbdb;
}
.live-event .anim-football {
    position: absolute;
    top: 20%;
    left: calc(50% - 1.7657rem);
    width: 3.5313rem;
    height: 3.7188rem;
    background: url(../img/anim-ball.png) no-repeat;
    background-size: 100%;
    z-index: 999;
    display: none;
}
/* 定义进球事件足球动画类名 */
.live-event .anim-football.ball-anim {
    animation: ballAnim 3400ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
    -webkit-animation: ballAnim 3400ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
    /*使其保留动画最后一帧的位置*/
    animation-fill-mode: forwards;
    -webkit-animation-fill-mode: forwards;
}
@keyframes ballAnim {
    0% {
        transform: scale(1);
        -webkit-transform: scale(1);
    }
    7% {/*800ms * 30% / 3400ms*/
        transform: scale(1.2);
        -webkit-transform: scale(1.2);
    }
    23.5% {/*800ms * 100% / 3400ms*/
        transform: scale(1);
        -webkit-transform: scale(1);
    }
    55% {
        transform: scale(1);
        -webkit-transform: scale(1);
    }
    100% {
        transform: scale(.2);
        -webkit-transform: scale(.2);
    }
}
.foo-court .icon-player {
    position: absolute;
    display: block;
    width: 1.8125rem;
    height: 1.4375rem;
    background: url("../img/icon-player.png") no-repeat;
    background-size: 100%;
    display: none;
}
.foo-court .icon-flag {
    position: absolute;
    display: block;
    width: 1.157rem;
    height: 1.157rem;
    background: url("../img/icon-flag.png") no-repeat;
    background-size: 100%;
    display: none; 
}
.foo-court .icon-position,
.foo-court .icon-hurt {
    position: absolute;
    display: block;
    width: 0.875rem;
    height: 1.6875rem;
    display: none;
}
.foo-court .icon-position {
    background: url("../img/icon-position.png") no-repeat;
    background-size: 100%;
}
.foo-court .icon-hurt {
    background: url("../img/icon-hurt.png") no-repeat;
    background-size: 100%;
}

/*---------------------------------event-msg--------------------------------*/
.live-event .event-msg {
    position: absolute;
    top: 24.2%;
    width: 7.5rem;
    height: 2.6875rem;
    z-index: 999;
    display: none;
}
.live-event .event-msg.msg-anim {
    animation: msgAnim 400ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
    -webkit-animation: msgAnim 400ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
    /*使其保留动画最后一帧的位置*/
    animation-fill-mode: forwards;
    -webkit-animation-fill-mode: forwards;
}
@keyframes msgAnim {
    0% {
        opacity: 0;
        transform: translateY(-30%);
        -webkit-transform: translateY(-30%);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
        -webkit-transform: translateY(0);
    }
}
/* 定义事件信息框位置类名 */
.live-event .event-msg.home {
    right: 50%;
}
.live-event .event-msg.away {
    left: 50%;
}
.live-event .event-msg .event-msg-player {
    display: -webkit-box; /* 老版本语法: Safari, iOS, Android browser, older WebKit browsers. */
    display: -moz-box; /* 老版本语法: Firefox (buggy) */
    display: -ms-flexbox; /* 混合版本语法: IE 10 */
    display: -webkit-flex; /* 新版本语法: Chrome 21+ */
    display: flex; /* 新版本语法: Opera 12.1, Firefox 22+ */
    -webkit-box-align: center;
    -moz-align-items: center;
    -webkit-align-items: center;
    align-items: center;

    box-sizing: border-box;
    position: relative;
    width: 100%;
    height: 45%;
    padding: 0 0.3125rem;
    font-size: 0.5625rem;
    color: #585857;
    background-color: #dbdbd9;
    border-top-left-radius: 0.1875rem;
    border-top-right-radius: 0.1875rem;
}
.live-event .event-msg .event-msg-player .logo {
    width: 0.91rem;
    position: absolute;
    right: 0.3125rem;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
}
.live-event .event-msg .event-msg-tip {
    display: -webkit-box; /* 老版本语法: Safari, iOS, Android browser, older WebKit browsers. */
    display: -moz-box; /* 老版本语法: Firefox (buggy) */
    display: -ms-flexbox; /* 混合版本语法: IE 10 */
    display: -webkit-flex; /* 新版本语法: Chrome 21+ */
    display: flex; /* 新版本语法: Opera 12.1, Firefox 22+ */
    -webkit-box-align: center;
    -moz-align-items: center;
    -webkit-align-items: center;
    align-items: center;

    width: 100%;
    height: 55%;
    background-color: #343434;
    color: #fff;
    font-size: 0.625rem;
    padding: 0 0.3125rem;
    box-sizing: border-box;
    border-bottom-left-radius: 0.1875rem;
    border-bottom-right-radius: 0.1875rem;
}
.live-event .event-msg .event-msg-tip .icon-card {
    margin-right: 0.219rem;
    width: 0.407rem;
    height: 0.62rem;
}
.live-event .event-msg .event-msg-tip .icon-card.yellow-card {
    background: url("../img/icon-yellow-card.png") no-repeat;
    background-size: 100%;
}
.live-event .event-msg .event-msg-tip .icon-card.red-card {
    background: url("../img/icon-red-card.png") no-repeat;
    background-size: 100%;
}
.live-event .event-msg .event-msg-tip .icon-ball-smaller {
    width: 0.9rem;
    height: 0.9rem;
    background: url("../img/icon-ball-smaller.png") no-repeat;
    background-size: cover;
    margin-right: 0.4375rem;
}
.live-event .event-msg .event-msg-tip .tip-score {
    font-size: 0.9375rem;
    color: #dbdbd9;
}

/*---------------------------------anim-foo-score--------------------------------*/
.live-event .anim-foo-score {
    position: absolute;
    top: 25.14%;
    left: 25%;
    width: 50%;
    text-align: center;
    font-size: 1.5rem;
    color: #fff;
    background: url(../img/text-bg.png) no-repeat;
    background-position: center center;
    background-size: 100% 80%;
    z-index: 999;
    display: none;
}
/*定义“球进了”和“比赛开始”文字动画类名*/
.text-anim {
    animation: textAnim 600ms cubic-bezier(0.68, -0.55, 0.265, 2.55);
    -webkit-animation: textAnim 600ms cubic-bezier(0.68, -0.55, 0.265, 2.55);
    /*使其保留动画最后一帧的位置*/
    animation-fill-mode: forwards;
    -webkit-animation-fill-mode: forwards;
}
@keyframes textAnim {
    0% {
        left: 0; 
        transform: skewX(0);
        -webkit-transform: skewX(0);
        opacity: 0;
    }
    50% {
        transform: skew(-45deg);
        -webkit-transform: skew(-45deg);
    }
    100% {
        left: 25%; 
        transform: skew(0);
        -webkit-transform: skew(0);
        opacity: 1;
    }

}

/*---------------------------------anim-match-start--------------------------------*/
.anim-match-text {
    position: absolute;
    top: 30%;
    left: 25%;
    width: 50%;
    text-align: center;
    font-size: 1.5rem;
    color: #fff;
    background: url(../img/text-bg.png) no-repeat;
    background-position: center center;
    background-size: 100% 80%;
    z-index: 999;
    display: none;
}

/*---------------------------------黄换红牌动画--------------------------------*/
.anim-match-card {
    position: absolute;
    top: 31.57%;
    left: 31%;
    width: 38%;
    height: 20%;
    z-index: 999;
    font-size: 0;
    display: none;
}
.anim-match-card .match-item {
    position: absolute;
    top: 0;
    height: 100%;
    display: inline-block;
}
.anim-match-card .match-item.left {
    width: 31%;
    left: 63%;
    background: url(../img/yellow-card.png) no-repeat;
    background-size: 3rem;
    background-position: center center;
    opacity: 0; 
    display: none; 
}
.anim-match-card .match-item.mid {
    width: 16%;
    left: 42%;
    background: url(../img/arrow.png) no-repeat;
    background-size: 1.5rem;
    background-position: center center;
    opacity: 0; 
    display: none; 
}
.anim-match-card .match-item.right {
    width: 25%;
    left: 12%;
    background: url(../img/red-card.png) no-repeat;
    background-size: 2.35rem;
    background-position: center center;
    opacity: 0;
    display: none;
}
/* 定义换牌动画类名 */
.anim-match-card.card-anim .left {
    display: block;
    animation: cardToLeftAnim 1200ms linear;
    -webkit-animation: cardToLeftAnim 1200ms linear;
    animation-fill-mode: forwards;
    -webkit-animation-fill-mode: forwards;
}
@keyframes cardToLeftAnim {
    0% {
        opacity: 0;
        left: 34.5%;
    }
    33% {
        opacity: 1;
        left: 6.5%;
    }
    66% {
        opacity: 1;
        left: 6.5%;
    }
    100% {
        opacity: 1;
        left: 6.5%;
    }
}
.anim-match-card.card-anim .mid {
    display: block;
    animation: cardMidShowAnim 400ms linear 400ms;
    -webkit-animation: cardMidShowAnim 400ms linear 400ms;
    animation-fill-mode: forwards;
    -webkit-animation-fill-mode: forwards;
}
@keyframes cardMidShowAnim {
    0% {
        opacity: 0;
        left: 42%;
    }
    100% {
        opacity: 1;
        left: 42%;
    }
}
.anim-match-card.card-anim .right {
    display: block;
    animation: cardRightShowAnim 400ms linear 800ms;
    -webkit-animation: cardRightShowAnim 400ms linear 800ms;
    animation-fill-mode: forwards;
    -webkit-animation-fill-mode: forwards;
}
@keyframes cardRightShowAnim {
    0% {
        opacity: 0;
        left: 63%;
    }
    100% {
        opacity: 1;
        left: 63%;
    }
}

/*---------------------------------进球灯光和礼花--------------------------------*/
.anim-light {
    position: absolute;
    top: 21%;
    width: 100%;
    height: 44%;
    background: url(../img/anim-light.png) no-repeat;
    background-size: 100% 43.5%;
    display: none;
    overflow: hidden;
}
.anim-light .anim-light-gift {
    width: 100%;
    height: 100%; 
    background: url(../img/gif.gif) no-repeat;
    background-size: 100%;
}
/* 定义进球事件礼花动画类名 */
.anim-light .anim-light-gift.gift-anim {
    animation: giftAnim 2000ms linear;
    -webkit-animation: giftAnim 2000ms linear;
    animation-fill-mode: forwards;
    -webkit-animation-fill-mode: forwards;
}
@keyframes giftAnim {
    0% {
        transform: translateY(-100%);
        -webkit-transform: translateY(-100%);
    }
    100%{
        transform: translateY(0);
        -webkit-transform: translateY(0);
    }
}

/*---------------------------------球员替换卡片提示--------------------------------*/
.event-replace {
    position: absolute;
    top: 24.2%;
    left: 31%;
    width: 42%;
    height: 6rem;
    display: none;
}
.event-replace .up,
.event-replace .down {
    width: 100%;
    height: 53%;
    /*用于动画*/
    opacity: 0;
}
.event-replace .up {
    background: url("../img/arrow-green-live.png") no-repeat;
    background-size: 2.90rem 2.90rem;
    background-position: right center;
}
.event-replace .down {
    background: url("../img/arrow-red-live.png") no-repeat;
    background-size: 2.90rem 2.90rem;
    background-position: left top;
}
.event-replace .event-replace-msg {
    width: 70%;
    height: 100%;
    border-collapse: separate; 
    border-radius: 3px;
}
.event-replace .down .event-replace-msg {
    margin-top: -3%;
    margin-left: 30%;
}
.event-replace .event-replace-msg .player {
    display: flex;
    align-items: center;
    width: 100%;
    height: 45%;
    background-color: #dbdbd9;
    color: #585857;
    font-size: 0.5625rem;
    padding: 0 0.3125rem;
    box-sizing: border-box;
    border-top-left-radius: 0.1875rem;
    border-top-right-radius: 0.1875rem;
}
.event-replace .event-replace-msg .tip {
    display: flex;
    align-items: center;
    width: 100%;
    height: 55%;
    background-color: #343434;
    color: #fff;
    font-size: 0.625rem;
    padding: 0 0.3125rem;
    box-sizing: border-box;
    border-bottom-left-radius: 0.1875rem;
    border-bottom-right-radius: 0.1875rem;
}
.event-replace .event-replace-msg .tip .logo {
    width: 0.91rem;
    margin: 0 0.3125rem 0 0;
}

.event-replace.exchange-anim .up {
    animation: exchangeUpAnim 3000ms cubic-bezier(0.6, -0.28, 0.735, 0.045);
    -webkit-animation: exchangeUpAnim 3000ms cubic-bezier(0.6, -0.28, 0.735, 0.045);
    animation-fill-mode: forwards;
    -webkit-animation-fill-mode: forwards;
}
@keyframes exchangeUpAnim {
    0% {
        opacity: 0;
        transform: translate(0, 0);
        -webkit-transform: translate(0, 0);
        background-image: url("../img/arrow-green-live.png");
    }
    25% {
        opacity: 1;
        transform: translate(0, 0);
        -webkit-transform: translate(0, 0);
        background-image: url("../img/arrow-green-live.png");
    }
    50% {
        opacity: 1;
        transform: translate(0, 0);
        -webkit-transform: translate(0, 0);
        background-image: url("../img/arrow-green-live.png");
    }
    100% {
        opacity: 1;
        transform: translate(30%, 2.88rem);
        -webkit-transform: translate(30%, 2.88rem);
        background-image: none;
    }
}
.event-replace.exchange-anim .down {
    animation: exchangeDownAnim 2600ms cubic-bezier(0.6, -0.28, 0.735, 0.045) 400ms;
    -webkit-animation: exchangeDownAnim 2600ms cubic-bezier(0.6, -0.28, 0.735, 0.045) 400ms;
    animation-fill-mode: forwards;
    -webkit-animation-fill-mode: forwards;
}
@keyframes exchangeDownAnim {
    0% {
        opacity: 0;
        transform: translate(0, 0);
        -webkit-transform: translate(0, 0);
        background-image: url("../img/arrow-red-live.png");
    }
    50% {
        opacity: 1;
        transform: translate(0, 0);
        -webkit-transform: translate(0, 0);
        background-image: url("../img/arrow-red-live.png");
    }
    100% {
        opacity: 1;
        transform: translate(-30%, -2.88rem);
        -webkit-transform: translate(-30%, -2.88rem);
        background-image: none;
    }
}

/*---------------------------------字体--------------------------------*/
@media screen and (min-width: 320px) {
    html {font-size: 14px;}
}

@media screen and (min-width: 360px) {
    html {font-size: 16px;}
}

@media screen and (min-width: 400px) {
    html {font-size: 18px;}
}

@media screen and (min-width: 440px) {
    html {font-size: 20px;}
}

@media screen and (min-width: 480px) {
    html {font-size: 22px;}
}

@media screen and (min-width: 520px) {
    html {font-size: 24px;}
}

@media screen and (min-width: 560px) {
    html {font-size: 26px;}
}

@media screen and (min-width: 600px) {
    html {font-size: 28px;}
}

@media screen and (min-width: 640px) {
    html {font-size: 30px;}
}

@media screen and (min-width: 680px) {
    html {font-size: 32px;}
}